.contactoIndex{
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #47597E;
    padding: 5px;
    width: 260px;
    border-radius: 30px;
    border: solid 2px rgba(142,142,147,0.12);
}

.contactoTextoIndex{
    color: #B2AB8C;
}

.linkContactDetails{
    text-decoration: none;
}